/* 自适应移动端 */
/* pc端宽屏样式 */
@media screen and (min-width : 768px) {}

/* 移动端样式 */
@media screen and (max-width : 768px) {
    .mobilemenubox {
        position: fixed;
        width: 100%;
        z-index: 2;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background: transparent;
        transition: background-color 0.3s; 
        }
	.mobilemenubox.scrolled {
        background:rgba(0, 0, 0, 0.5);
        z-index: 5;
        padding-bottom: 1em;
     }
     .logo-black, .logo-white {
        width: 30%;
        height: auto;
    }

    .logo-black {
        display: block;
    }

    .logo-white {
        display: none;
    }

 	.logo {
		display:none;
	}
	.mobilelogo {
		display:block;
		width:35%;
		height:auto;
		margin-top: 15px;
		margin-left: 20px;
	}
	.mobilelogo img {
		width:100%;
		height:auto;
		z-index: 3;
		
	}
		.sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
		background-color: #111;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 40px;
		display:block;
		padding-bottom: 50px;
		
	}
	
	.sidenav a {
		padding: 8px 8px 8px 42px;
		text-decoration: none;
		font-size: 14px;
		color: #ffffff;
		display: block;
		transition: 0.9s;
		border-bottom: solid 1px white;
		margin-left: 1em; 
		text-align: left; 
		padding-left: 3px;
		padding-right: 10px;
		width:60%;
		top: 20px;
		margin:0;
		margin-top: 10px;
		margin-left: 22px;
		
	}
	
	
	
	.sidenav a:hover, .submenu-content1 a:hover {
		color: #f1f1f1; 
		background-color: #333; 
	}
	
	
	.submenu-content1 {
		display: none; 
		background-color: #000000; 
		padding-left: 0; 
	}
	
	.sidenav a:hover {
		color: #f1f1f1;
	}
	
	.sidenav .closebtn {
	    top: 0;
		margin:0;
		font-size: 30px;
		height:auto;
		border-bottom: none; 
		padding:0;
	
		margin-top: -3px;
	  margin-right:10px;
	
	}

	#openbtn {
		font-size: 20px; /* 調整大小 */
		cursor: pointer;
		position: fixed;
		top: 25px; 
		right: 35px; 
		z-index: 2; 
        display:block;
		color:rgb(0, 0, 0);
		font-weight:500;
		margin-right:10px;
	}

	.sidenav-footer {
		
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: center;
		color: white; 
		padding: 10px;
		font-size: 10px;
		padding:0;
		line-height:1.3em;
		letter-spacing: 0.1rem;
	}

/* 折疊面板的基本樣式 */
.accordion-itemvisa {
    margin-bottom: 10px;
}
.accordion-titlevisa {
	padding: 10px 8px 8px 22px;
	margin-bottom: 15px; 
	font-size:14px;
	border-bottom: solid 1px white;
	font-family: 'Noto Sans TC', sans-serif;
	line-height:2.3em;
	width: 52%; 
	height:30%;
	padding-bottom:20px;
	margin:0;
	padding:0;
	flex-grow: 2;

}
.accordion-titlevisa .icon {
	margin-left: 10px;
}
.submenu-toggle {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  	padding-left: 24px; 
	padding-right: 26px;
    background-color: #111; 
    color: white; 
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left;
    width: 100%; 
	margin-top: 10px;
}


.submenu-toggle:hover {
    background-color: #333;
}

.sidenav .submenu-content1 {
    display: none; 
    background-color: #000000; 
    padding-left: 0; 
}

.sidenav .submenu-content1 a{
 font-size: 12px;
}
.submenu-content a {
    display: block;
    color: black; 
    padding: 5px 0; 
    text-decoration: none;

}

.sidenav a:hover, .submenu-content1 a:hover {
    color: #f1f1f1; 
    background-color: #333;
}
.sidenavlogo {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.sidenavlogo img{
    width:70%;
	height:auto;
	margin-left: 20px;
	margin-bottom:10px;
}
.logo {
	left:20px;
	z-index: 1;
}	
.logo img {
	width:8em;
	height:auto;
	margin:0;
	margin-left:1.1em;
	margin-top:0.5em;
}

.sidenav .social-icons-container a {
	border-bottom: none;
	border:none;
	padding:0;
	margin:0;
}

.sidenav a img {
    width: 30px; 
    height: auto;
    margin: 10px 0; 
	z-index: 3;
	margin-bottom: 20px;
    
}

.social-icons-container{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0px 0; 
    border-bottom: none;
    padding-right: 2em;
    margin-top: 20px;
    }
    
    .sidenav-line {
    
    margin: 0 10px; 
    }
    
    .social-icon1 {
    border-bottom: none;
    padding-left: 23px;
    }
    .social-icon2 {
    padding-right:10em;
    }
.social-icon1 a {
    border-bottom: none;
}   
.wowcool {
    background-image: linear-gradient(rgb(179, 162, 255) 0%, rgb(167, 188, 255) 100%);
    border-radius: 12px;
    margin:auto;
    margin-top:-45px;
    width:90%;
    padding:0;
    height:16em;
    padding-top:0.1em;
    padding-bottom:0.1em;
            
}

 .text-content {
    font-size: 20px; 
    margin:0;
    margin-right: 30px;
}
.text-content h1 {
    border-bottom: solid 1px white ;    
font-size: 18px; 
font-weight: 600;
margin:0;
padding:0;
padding-bottom:0.3em;
}

.text-content h2 {
    font-size: 16px;
    font-weight: 500; 
    margin-bottom: 20px; 
    margin:0;
    padding-top:0.3em;
}

.text-content p {
    font-size: 10px; 
    margin-bottom: 1.2em; 
    font-weight: 200;
}
    
    .textcontent1 {
      width:80%;
      margin:0;
      margin-left:20px;
      margin-right:20px;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size:20px;
      font-weight:700
    }
    
    .textcontent2 {
        margin-top:20px;
        text-align: left;
        margin-bottom:20px;
        margin-left:20px;
        font-size:20px;
      font-weight:700
      }
      
        /* ... */
        table {
          border-collapse: collapse;
          width: 90%;
          margin-left:20px;
          margin-right:40px;
          align-items: center;
      
      
        }
        
        th, td {
          padding: 13px;
          text-align: left;
          font-size:14px;
        }
        
        th {
          background-color: #f2f2f2;
        }
        
        tr:nth-child(even) {
          background-color: #f2f2f2;
        }
        
        tr:hover {
          background-color: #ddd;
        }
  .caution{
    margin-bottom: 30px;
    width:80%;
   margin:0;
   padding: 20px;
   font-size: 14px;
  }

  .footer-logo {
    margin-right:8.5em;
    padding:10px
}
.footer-logo img{
    width:60%;
}
.footer-content{
    width: 100%;
    flex-direction: column;
    padding: 0;
    
}
.footer-info{
    padding: 0;
}
.footer-bottom-text {
    padding-left:10px;
    padding-right:10px;
    font-size:12px;
    
}
.footer-section {
    font-size:14px;
    color:black
}
.footer-social img {
    width:7%
}
@media screen and (max-width : 450px) {
    .menu-box.scrolled {
        background-color: rgba(0, 0, 0, 0.5);
        color: white; 
    }
    
       
    .menu-box {
    display:none;
      }
    
    .logo img {
display:none;
    }
}
.icon {
    margin-right:20px;
        font-size: 25px;
      
    }
}      