.body {
  background-color: black;
}

.menu-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white; /* 初始背景色為黑色 */
  position: sticky;
  top: 0;
  transition: background-color 0.3s; /* 平滑過渡效果 */
  z-index: 1000; /* 確保menu box在最上層 */
}

.logo {
  flex-shrink: 0; /* 防止logo在容器縮小時縮小 */
}

.logo img {
  height: 50px; /* 根據需要調整 */
  margin-left: 20px; /* 與菜單項目之間的間距 */
  margin-top:10px;
}

.menu-box ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.menu-box ul li {
  margin-left: 15px;
  transition: transform 0.3s; /* 添加变换过渡效果 */
}


.menu-box ul li:hover {
  transform: translateY(-3px); /* 鼠标悬停时向上移动 */
}

.menu-box ul li a {
  color: black;
  text-decoration: none;
  transition: color 0.3s; /* 添加过渡效果 */
}


/* 滚动时改变链接颜色 */
.menu-box.scrolled ul li a {
  color: white; /* 滚动时颜色变为白色 */
}